################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Odev1/Odev1/bin/Debug/net8.0/users.txt
/Odev1/Odev1/bin/Debug/net8.0/notes.txt
/Odev1/.vs/Odev1/FileContentIndex/3416c924-d858-4085-a04a-9368980fbcb7.vsidx
/Odev1/.vs/Odev1/FileContentIndex/3416c924-d858-4085-a04a-9368980fbcb7.vsidx
/Odev1/.vs/Odev1/FileContentIndex/3416c924-d858-4085-a04a-9368980fbcb7.vsidx
